@model IEnumerable<Lopez_Darwin_examenProgreso1.Models.Celular>

@{
    ViewData["Title"] = "Celular";
}

<h1>Celular</h1>

<p>
    <a asp-action="Create">Añadir un nuevo celular</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.año)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modelo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.año)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modelo)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.modelo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.modelo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.modelo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
