@model Lopez_Darwin_examenProgreso1.Models.Lopez

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lopez</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsEcuatoriano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsEcuatoriano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.celulares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.celulares.modelo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.nombre">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
